header {
    background: linear-gradient(42deg, rgba(81,201,249,1) 0%, rgba(137,233,244,1) 35%, rgba(100,129,211,1) 100%);
    border-radius: 20px;
    height: 200px;
}

header h4 {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    padding: 30px;

}

#menu {
    display: flex;
    gap: 50px;
}

#menu button {
    position: relative;
    border: none;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.534);
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 1rem;
    padding: 30px;
}